body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
   width: 100vw;
}

html {
  font-family: 'roboto';
  font-size: 1.5rem;
}
header img {
  height: 50px;
}

header {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 2vw;
  padding-right: 3vw;
}

.navbar {
  width: 450px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  list-style-type: none;
}

.navbar a {
  color: black;
  text-decoration: none;
}

.background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 95vh;
  background-image: url("../images/landing.jpg");
  background-position: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
}

.background h1 {
  margin-bottom: 0;
  font-size: 95px;
  font-weight: 600;
}

.background p {
  font-size: 30px;
}

/* ----middle-div---- */

.middle-div {
  display: flex;
  flex-direction: column ;
  justify-content: center;
  padding-bottom: 100px;
}

.item {
  text-align: center;
}

.item img{
  width: 200px;
}

.item h3{
  color: #00B172;
  font-weight: 900;
  
}

.middle-div section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.middle-div h2{
  align-self: center;
  padding-bottom: 1px;
  border-bottom: 5px solid #00B172;
  margin-top: 50px;
  margin-bottom: 100px;
  margin-right: 100px;
}

/* last div  */

.last-div {
  height: 100vh;
  display: flex;
  justify-content: space-around ;
  align-items: center;
  background-image: url("../images/spotify-icon-white.png");
  background-repeat: no-repeat;
  background-size: 10%;
  background-position: center;
  background-color: #00B172;
  color: white;
}

.last-div h2 {
  font-size: 2rem;
}

.last-div h3{
  font-size: 1.7rem;
}

.last-div p{
  font-size: 1.5rem;
}

.last-div img {
  width: 400px;
}
